#history button {
    background-color: lightgrey;
    color: black;
    border: 2px solid #555555;
    margin-top: 4px;
}

#daily-card1, 
#daily-card2, 
#daily-card3, 
#daily-card4, 
#daily-card5 {
    background-color: skyblue;
    border: 2px solid #555555;
    border-radius: 5%;
}

#today {
    background-color: blue;
    border: 2px solid #555555;
    border-radius: 2%;
    color: white;
}

.hide {
    display: none;
}



