#history button {
    background-color: lightgrey;
    color: black;
    border: 2px solid #555555;
    margin-top: 4px;
}

#daily-card1, 
#daily-card2, 
#daily-card3, 
#daily-card4, 
#daily-card5 {
    background-color: blue;
    border: 2px solid #555555;
    color: white;
    border-radius: 5%;
}

#today {
    background-color: lightblue;
    border: 2px solid #555555;
    border-radius: 2%;
    color: black;
}

.hide {
    display: none;
}


header {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}



